@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

* {
  /* write p0 or m0 to get padding and marhing 0 instantly */
  margin: 0;
  padding: 0;
}
nav {
  background-color: black;
  color: rgb(115, 209, 214);
  height: 10vh;
  font-size: 1.5em;
  font-family: "Agbalumo";
  text-align: center;
}
.gameContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
}
.container div {
  border: 2px solid black;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background-color: rgb(73, 22, 255);
}
.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.imgbox img {
  width: 200px;
  transition: width 1s ease-in-out;
}
#reset {
  margin: 0 23px;
  padding: 3px 18px;
  background: #f3e7f9;
  border-radius: 6px;
  cursor: pointer;

  font-size: 15px;
  font-weight: bolder;
}
#reset:hover {
  color: white;
  background-color: rgb(108, 251, 108);
  font-size: larger;
  transition-property: all;
  transition-duration: 0.1s;
}
.info {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f3e7f9;
}
.gameinfo {
  padding: 0 34px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  word-spacing: 10px;
  letter-spacing: 5px;
  color: #f3e7f9;
}
.line {
  background-color: black;
  height: 3px;
  width: 0;
  position: absolute;
  background-color: #911d91;
  transition: width 1s ease-in-out;
}
li {
  color: rgb(189, 247, 189);
}
li:hover {
  font-size: larger;
  transition-property: all;
  transition-duration: 0.2s;
  color: rgb(146, 240, 146);
}
#myVideo {
  z-index: -89;
  height: 100vh;
  width: 100vw;
  position: absolute;
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}
.videodiv {
  position: absolute;
}
span {
  color: rgb(0, 0, 0);
  font-weight: 900;
}

@media screen and (max-width: 900px) {
  .gameContainer {
    flex-wrap: wrap;
  }
  .gameinfo {
    margin-top: 34px;
    padding-left: 54px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 2vw;
    word-spacing: 2px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 1404px) {
  .videodiv {
    display: none;
  }
  .info {
    color: black;
  }
  .gameinfo {
    color: black;
  }
}
